<section class="printing">
  <div class="container photo-container">
    <h1 class="printing__title">МИ СТВОРЮЄМО</h1>
    <ul class="printing__list list">
      <li class="printing__item">
        <div class="printing-hero">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/bitmap/print/desktop/prototype.png    1x,
                ./images/bitmap/print/desktop/prototype@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/bitmap/print/tablet/prototype.png    1x,
                ./images/bitmap/print/tablet/prototype@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/bitmap/print/mobile/prototype.png    1x,
                ./images/bitmap/print/mobile/prototype@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="printing-hero__img hero-img__1"
              src="./images/bitmap/print/mobile/prototype.png"
              alt="Створення прототипів"
              loading="lazy"
            />
          </picture>
          <p class="printing-hero__title">ПРОТОТИПИ</p>
        </div>
      </li>
      <li class="printing__item">
        <div class="printing-hero">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/bitmap/print/desktop/maquette.png    1x,
                ./images/bitmap/print/desktop/maquette@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/bitmap/print/tablet/maquette.png    1x,
                ./images/bitmap/print/tablet/maquette@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/bitmap/print/mobile/maquette.png    1x,
                ./images/bitmap/print/mobile/maquette@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="printing-hero__img hero-img__2"
              src="./images/bitmap/print/mobile/maquette.png"
              alt="Створення макетів"
              loading="lazy"
            />
          </picture>
          <p class="printing-hero__title">МАКЕТИ</p>
        </div>
      </li>
      <li class="printing__item">
        <div class="printing-hero">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/bitmap/print/desktop/decor.png    1x,
                ./images/bitmap/print/desktop/decor@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/bitmap/print/tablet/decor.png    1x,
                ./images/bitmap/print/tablet/decor@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/bitmap/print/mobile/decor.png    1x,
                ./images/bitmap/print/mobile/decor@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="printing-hero__img hero-img__3"
              src="./images/bitmap/print/mobile/decor.png"
              alt="Створення декорів"
              loading="lazy"
            />
          </picture>
          <p class="printing-hero__title">ДЕКОР</p>
        </div>
      </li>
      <li class="printing__item">
        <div class="printing-hero">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/bitmap/print/desktop/3d-coub.png    1x,
                ./images/bitmap/print/desktop/3d-coub@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/bitmap/print/tablet/3d-coub.png    1x,
                ./images/bitmap/print/tablet/3d-coub@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/bitmap/print/mobile/3d-coub.png    1x,
                ./images/bitmap/print/mobile/3d-coub@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="printing-hero__img hero-img__4"
              src="./images/bitmap/print/mobile/3d-coub.png"
              alt="Створення корпоративного дизайну"
              loading="lazy"
            />
          </picture>
          <p class="printing-hero__title">КОРПОРАТИВНИЙ ДИЗАЙН</p>
        </div>
      </li>
    </ul>
  </div>
</section>
