<section class="our-service">
  <div class="container">
    <h2 class="process-title visually-hidden">Наші Процеси</h2>
    <ul class="our-processes">
      <li class="process-item">
        <div class="process-thumb">
          <picture>
            <source
              srcset="
                ./images/bitmap/print/desktop/bg_print_desk.jpg    1x,
                ./images/bitmap/print/desktop/bg_print_desk@2x.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./images/bitmap/print/tablet/bg_print_tablet.jpg    1x,
                ./images/bitmap/print/tablet/bg_print_tablet@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/bitmap/print/mobile/bg_print_mob.jpg    1x,
                ./images/bitmap/print/mobile/bg_print_mob@2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              src="./images/bitmap/print/desktop/bg_print_desk.jpg"
              alt="фото процесу 3д друку"
              class="thumb-img"
            />
          </picture>
        </div>
        <div class="process-card">
          <p class="process-description">
            <span>3D-ДРУК</span> - ми використовуємо FDM технологію друку. Вона
            представляє собою пошарове формування об'єкта за допомогою
            3Dпринтера.
          </p>
          <p class="process-description">
            Моделі для створення розроблюються дизайнерами в спеціальному
            програмному забезпеченні: системах автоматизованого проектування.
          </p>
          <p class="process-description">
            3D друк знайшов широке застосування в архітектурі, промисловості,
            маркетингу, мистецтві і багатьох інших сфер.
          </p>
          <a href="./take-order.html" class="order-link">ЗРОБИТИ ЗАМОВЛЕННЯ</a>
        </div>
      </li>
      <li class="process-item">
        <div class="process-thumb">
          <picture>
            <source
              srcset="
                ./images/bitmap/print/desktop/bg_model_desk.jpg    1x,
                ./images/bitmap/print/desktop/bg_model_desk@2x.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./images/bitmap/print/tablet/bg_model_tablet.jpg    1x,
                ./images/bitmap/print/tablet/bg_model_tablet@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/bitmap/print/mobile/bg_model_mob.jpg    1x,
                ./images/bitmap/print/mobile/bg_model_mob@2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              src="./images/bitmap/print/desktop/bg_model_desk.jpg"
              alt="фото процесу моделювання"
              class="thumb-img"
            />
          </picture>
        </div>
        <div class="process-card">
          <p class="process-description">
            <span>3D-МОДЕЛЮВАННЯ</span>- це процес розробки математичного
            уявлення будь-якої поверхні об'єкта в трьох вимірах за допомогою
            <br />
            спеціалізованого програмного забезпечення.
          </p>
          <p class="process-description">
            Наші дизайнери зпроектують будь-який виріб виходячи з ваших
            побажань.
          </p>
          <p class="process-description">
            Розуміючи специфіку <br />
            3D друку і ваших задач ми створимо деталь яка повністю задовольнить
            ваші <br />
            потреби.
          </p>
          <a href="./take-order.html" class="order-link">ЗРОБИТИ ЗАМОВЛЕННЯ</a>
        </div>
      </li>
      <li class="process-item">
        <div class="process-thumb">
          <picture>
            <source
              srcset="
                ./images/bitmap/print/desktop/bg_scan_desk.jpg    1x,
                ./images/bitmap/print/desktop/bg_scan_desk@2x.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./images/bitmap/print/tablet/bg_scan_tablet.jpg    1x,
                ./images/bitmap/print/tablet/bg_scan_tablet@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/bitmap/print/mobile/bg_scan_mob.jpg    1x,
                ./images/bitmap/print/mobile/bg_scan_mob@2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              src="./images/bitmap/print/desktop/bg_scan_desk.jpg"
              alt="фото процесу сканування"
              class="thumb-img"
            />
          </picture>
        </div>
        <div class="process-card">
          <p class="process-description">
            <span>3D-СКАНУВАННЯ</span> - зняття даних, шляхом аналізу форми
            предмета і на основі отриманих даних створення її 3D-моделі.
          </p>
          <p class="process-description">
            Це універсальний інструмент, який дозволяє отримати як і просто
            3D-модель для візуалізації в цифровому вигляді,<br />так і 3D-модель
            для подальшого її друку на 3D-принтері.
          </p>
          <a href="./take-order.html" class="order-link">ЗРОБИТИ ЗАМОВЛЕННЯ</a>
        </div>
      </li>
    </ul>
  </div>
</section>
