<section class="order-form">
  <div class="container order-container">
    <div class="order__form-wrap">
      <h2 class="subtitle order-subtitle">ЗВ’ЯЖІТЬСЯ З НАМИ</h2>
      <form class="take-order__form">
        <div class="order-form_container">
          <label class="order-form_label">
            <input
              
              type="text"
              name="username"
              class="order-form_input"
              placeholder="&nbsp;"
            />
            <span class="order-form_name">Ім'я</span>
          </label>
        </div>

        <div class="order-form_container">
          <label class="order-form_label">
            <input
              
              type="email"
              name="email"
              class="order-form_input"
              placeholder="&nbsp;"
            />
            <span class="order-form_email">Email</span>
          </label>
        </div>
        <div class="order-form_container">
          <select name="types_of_plastic" class="order-form_select">
            <option disabled selected>Види пластика</option>
            <option value="h">Жосткий</option>
            <option value="s">Середньо-жосткий</option>
            <option value="m">Тонкий</option>
            <option value="help">Труднощі у виборі - ми допоможемо</option>
          </select>
          <div class="order-form_container-select"></div>
        </div>

        <div class="order-form_container">
          <select name="print_quality" class="order-form_select">
            <option disabled selected>Якість друку</option>
            <option value="300">300 мікрон</option>
            <option value="200">200 мікрон</option>
            <option value="100">100 мікрон</option>
            <option value="help">Труднощі у виборі - ми допоможемо</option>
          </select>
          <div class="order-form_container-select"></div>
        </div>

        <div class="order-form_container">
          <select name="color" class="order-form_select">
            <option disabled selected>Колір</option>
            <option value="gray">Сірий</option>
            <option value="buryi">Бурий</option>
            <option value="malynovyy">Малиновий</option>
            <option value="help">Труднощі у виборі - ми допоможемо</option>
          </select>
          <div class="order-form_container-select"></div>
        </div>

        <div class="order-form_container">
          <label class="order-form_label">
            <span class="order-form_message">Повідомлення</span>
            <textarea
              class="order-form_textarea"
              name="message"
              rows="5"
              placeholder="Залишіть своє повідомлення"
            ></textarea>
            <input type="file" id="file" class="contacts__input-file visually-hidden">
            <label for="file" class="contacts__label-file">
              <svg class="order-form_svg" width="22" height="20">
                <use href="./images/sprite.svg#icon-input-file"></use>
              </svg>
            </label>
          <div class="order-form_container-messege">
            <input type="file" name="message_img" />
          </div>
          <p class="order-form_text">
            *Прикріпіть зображення/креслення/STL/Obj/CAD-модель
          </p>
        </div>
      </form>

      <button type="submit"  class="order-form_btn">Відправити</button>
    </div>
    <div class="take-order-contacts">
      <div class="take-order-contacts-inner">
        <h2 class="subtitle">ТЕЛЕФОНИ</h2>
        <ul class="take-order-contacts__list">
          <li class="take-order-contacts__item">
            <a class="take-order-contacts__link" href="tel:+380957384551"
              >+38 (095) -73-84-551</a
            >
          </li>
          <li class="take-order-contacts__item">
            <a class="take-order-contacts__link" href="tel:+380980025235"
              >+38 (098) -00-25-235</a
            >
          </li>
        </ul>
      </div>
      <div class="take-order-contacts-inner">
        <h2 class="subtitle">Email</h2>
        <ul class="take-order-contacts__list">
          <li>
            <a
              class="take-order-contacts__link"
              href="mailto:3dfreedom.info@gmail.com"
              >3dfreedom.info@gmail.com</a
            >
          </li>
        </ul>
      </div>
      <div class="take-order-contacts-inner take-order-contacts-inner__time">
        <h2 class="subtitle">РОБОЧИЙ ЧАС</h2>
        <ul class="take-order-contacts-time__list">
          <li class="take-order-contacts-time__item">
            Пн-пт:
            <div>&nbsp;З 8:00 до 19:00</div>
          </li>
          <li class="take-order-contacts-time__item">
            Сб, Нд:
            <div>&nbsp;З 10:00 до 17:00</div>
          </li>
        </ul>
      </div>
      <div class="mosaics">
        <ul class="mosaics__list">
          <li class="mosaics__figure1"></li>
          <li class="mosaics__figure2"></li>
          <li class="mosaics__figure3"></li>
          <li class="mosaics__figure4"></li>
          <li class="mosaics__figure5"></li>
          <li class="mosaics__figure6"></li>
        </ul>
      </div>
      </div>
    </section>
  
