<section class="take-order">
  <div class="container take-order-con">
    <h1 class="title hero-take-order-title">ЗРОБИТИ ЗАМОВЛЕННЯ</h1>
    <div class="hero-take-order-inner">
      <div class="hero-take-order__picture"></div>
      <div class="hero-take-order__info">
        <ul class="hero-take-order__text-list">
          <li class="hero-take-order__text-item">
            <p class="hero-take-order__text">
              На цій сторінці ви можете зробити замовлення заповнивши форму і ми
              зв'яжемося з вами.
            </p>
          </li>
          <li class="hero-take-order__text-item">
            <p class="hero-take-order__text">
              Наші фахівці допоможуть підібрати оптимальні для вас параметри і
              дадуть відповідь на всі ваші запитання.
            </p>
          </li>
        </ul>
        <ul class="hero-take-order__list">
          <li class="hero-take-order__item-one"></li>
          <li class="hero-take-order__item-two"></li>
          <li class="hero-take-order__item-three"></li>
        </ul>
      </div>
    </div>
  </div>
</section>
