<section class="work-examples">
  <div class="container photo-container">
    <h2 class="work-examples__title">
      МИ СТВОРЮЄМО ФОТОРЕАЛІСТИЧНІ ЗОБРАЖЕННЯ МОДЕЛЕЙ
    </h2>

    <ul class="work-examples__list">
      <li class="work-examples__item">
        <picture class="work-examples__image">
          <!-- Desktop 1 -->
          <source
            srcset="
              ./images/bitmap/3d-modeling/desktop/webp/3d-model-1.webp,
              ./images/bitmap/3d-modeling/desktop/webp/3d-model-1@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/bitmap/3d-modeling/desktop/mozjpeg/3d-model-1.jpg,
              ./images/bitmap/3d-modeling/desktop/mozjpeg/3d-model-1@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1440px)"
          />
          <!-- End Desktop 1 -->

          <!-- Tablet 1 -->
          <source
            srcset="
              ./images/bitmap/3d-modeling/tablet/webp/3d-model-1.webp,
              ./images/bitmap/3d-modeling/tablet/webp/3d-model-1@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/bitmap/3d-modeling/tablet/mozjpeg/3d-model-1.jpg,
              ./images/bitmap/3d-modeling/tablet/mozjpeg/3d-model-1@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 768px)"
          />
          <!-- End Tablet 1 -->

          <!-- Mobile 1 -->
          <source
            srcset="
              ./images/bitmap/3d-modeling/mobile/webp/3d-model-1.webp,
              ./images/bitmap/3d-modeling/mobile/webp/3d-model-1@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/bitmap/3d-modeling/mobile/mozjpeg/3d-model-1.jpg,
              ./images/bitmap/3d-modeling/mobile/mozjpeg/3d-model-1@2x.jpg 2x
            "
            type="image/jpg"
            media="(max-width: 767px)"
          />
          <!-- End Mobile 1 -->

          <img
            src="./images/bitmap/3d-modeling/mobile/mozjpeg/3d-model-1.jpg"
            alt="Приклад 3D моделі"
          />
        </picture>
      </li>

      <li class="work-examples__item">
        <picture class="work-examples__image">
          <!-- Desktop 2 -->
          <source
            srcset="
              ./images/bitmap/3d-modeling/desktop/webp/3d-model-2.webp,
              ./images/bitmap/3d-modeling/desktop/webp/3d-model-2@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/bitmap/3d-modeling/desktop/mozjpeg/3d-model-2.jpg,
              ./images/bitmap/3d-modeling/desktop/mozjpeg/3d-model-2@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1440px)"
          />
          <!-- End Desktop 2 -->

          <!-- Tablet 2 -->
          <source
            srcset="
              ./images/bitmap/3d-modeling/tablet/webp/3d-model-2.webp,
              ./images/bitmap/3d-modeling/tablet/webp/3d-model-2@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/bitmap/3d-modeling/tablet/mozjpeg/3d-model-2.jpg,
              ./images/bitmap/3d-modeling/tablet/mozjpeg/3d-model-2@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 768px)"
          />
          <!-- End Tablet 2 -->

          <!-- Mobile 2 -->
          <source
            srcset="
              ./images/bitmap/3d-modeling/mobile/mozjpeg/3d-model-2.jpg,
              ./images/bitmap/3d-modeling/mobile/mozjpeg/3d-model-2@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/bitmap/3d-modeling/mobile/webp/3d-model-2.webp,
              ./images/bitmap/3d-modeling/mobile/webp/3d-model-2@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <!-- End Mobile 2 -->
          <img
            src="./images/bitmap/3d-modeling/mobile/mozjpeg/3d-model-2.jpg"
            alt="Приклад 3D моделі"
          />
        </picture>
      </li>

      <li class="work-examples__item">
        <picture class="work-examples__image">
          <!-- Desktop 3 -->
          <source
            srcset="
              ./images/bitmap/3d-modeling/desktop/webp/3d-model-3.webp,
              ./images/bitmap/3d-modeling/desktop/webp/3d-model-3@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/bitmap/3d-modeling/desktop/mozjpeg/3d-model-3.jpg,
              ./images/bitmap/3d-modeling/desktop/mozjpeg/3d-model-3@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1440px)"
          />
          <!-- End Desktop 3 -->

          <!-- Tablet 3 -->
          <source
            srcset="
              ./images/bitmap/3d-modeling/tablet/webp/3d-model-3.webp,
              ./images/bitmap/3d-modeling/tablet/webp/3d-model-3@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/bitmap/3d-modeling/tablet/mozjpeg/3d-model-3.jpg,
              ./images/bitmap/3d-modeling/tablet/mozjpeg/3d-model-3@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 768px)"
          />
          <!-- End Tablet 3 -->

          <!-- Mobile 3 -->
          <source
            srcset="
              ./images/bitmap/3d-modeling/mobile/mozjpeg/3d-model-3.jpg,
              ./images/bitmap/3d-modeling/mobile/mozjpeg/3d-model-3@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/bitmap/3d-modeling/mobile/webp/3d-model-3.webp,
              ./images/bitmap/3d-modeling/mobile/webp/3d-model-3@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <!-- End Mobile 3 -->

          <img
            src="./images/bitmap/3d-modeling/mobile/mozjpeg/3d-model-3.jpg"
            alt="Приклад 3D моделі"
          />
        </picture>
      </li>

      <li class="work-examples__item">
        <picture class="work-examples__image">
          <!-- Desktop 3 -->
          <source
            srcset="
              ./images/bitmap/3d-modeling/desktop/webp/3d-model-4.webp,
              ./images/bitmap/3d-modeling/desktop/webp/3d-model-4@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/bitmap/3d-modeling/desktop/mozjpeg/3d-model-4.jpg,
              ./images/bitmap/3d-modeling/desktop/mozjpeg/3d-model-4@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1440px)"
          />
          <!-- End Desktop 3 -->

          <!-- Tablet 3 -->
          <source
            srcset="
              ./images/bitmap/3d-modeling/tablet/webp/3d-model-4.webp,
              ./images/bitmap/3d-modeling/tablet/webp/3d-model-4@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/bitmap/3d-modeling/tablet/mozjpeg/3d-model-4.jpg,
              ./images/bitmap/3d-modeling/tablet/mozjpeg/3d-model-4@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 768px)"
          />
          <!-- End Tablet 3 -->

          <!-- Mobile 3 -->
          <source
            srcset="
              ./images/bitmap/3d-modeling/mobile/mozjpeg/3d-model-4.jpg,
              ./images/bitmap/3d-modeling/mobile/mozjpeg/3d-model-4@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/bitmap/3d-modeling/mobile/webp/3d-model-4.webp,
              ./images/bitmap/3d-modeling/mobile/webp/3d-model-4@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <!-- End Mobile 3 -->

          <img
            src="./images/bitmap/3d-modeling/mobile/mozjpeg/3d-model-4.jpg"
            alt="Приклад 3D моделі"
          />
        </picture>
      </li>
    </ul>

    <div class="work-examples__btn-box">
      <a href="./take-order.html" class="order-form__button">
        ЗРОБИТИ ЗАМОВЛЕННЯ
      </a>
    </div>
  </div>
</section>
