<!-- футер -->
<footer class="footer">
  <div class="footer__container container">
    <!-- Лого -->
    <a class="footer__logo" href="./index.html">
      <picture>
        <source
          srcset="
            ./images/bitmap/logo/browser-png/logo_192x48.png     1x,
            ./images/bitmap/logo/browser-png/logo_192x48.@2x.png 2x
          "
          media="(min-width: 1440px)"
        />
        <img
          src="./images/bitmap/logo/browser-png/logo_192x48.png"
          alt="Логотип"
        />
      </picture>
    </a>
    <div class="address">
      <div class="head">
        <!-- Головна -->
        <ul class="head__list list">
          <li>
            <a target="_blank" class="head__link link" href="./index.html">
              Головна
            </a>
          </li>
          <li>
            <a target="_blank" class="head__link link" href="./modeling.html">
              3D Моделювання</a
            >
          </li>
          <li>
            <a target="_blank" class="head__link link" href="./scanning.html">
              3D Сканування
            </a>
          </li>
          <li>
            <a target="_blank" class="head__link link" href="./printing.html">
              3D Друк
            </a>
          </li>
          <li>
            <a target="_blank" class="head__link link" href="./take-order.html"
              >Замовити
            </a>
          </li>
          <li>
            <a target="_blank" class="head__link link" href="./contact.html">
              Контакти
            </a>
          </li>
        </ul>
      </div>
      <!-- Соц мережі -->
      <div class="soc">
        <ul class="soc__list list">
          <li>
            <a
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="soc__link link"
              href="https://www.instagram.com/"
            >
              Instagram
            </a>
          </li>
          <li>
            <a
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="soc__link link"
              href="https://www.youtube.com/"
            >
              YouTube
            </a>
          </li>
          <li>
            <a
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="soc__link link"
              href="https://www.facebook.com/"
            >
              Facebook
            </a>
          </li>
        </ul>
      </div>
      <!-- E-mail -->

      <address class="cont">
        <p class="cont__text">Email</p>
        <ul class="cont__list list">
          <li>
            <a
              class="cont__link cont__mail"
              href="mailto:3dfreedom.info@gmail.com"
              >3dfreedom.info@gmail.com</a
            >
          </li>
        </ul>
        <p class="cont__text">Телефони</p>
        <ul class="cont__tel">
          <li>
            <a class="cont__link" href="tel:+380936432288"
              >+38 (093) 643 22 88</a
            >
          </li>
          <li>
            <a class="cont__link" href="tel:+380503454423"
              >+38 (050) 345 44 23</a
            >
          </li>
        </ul>
      </address>
    </div>
  </div>
</footer>
