.take-order {
  @include desktop {
    padding-top: 100px;
  }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    padding-top: 34px;
  }
}

.hero-take-order-inner {
  @include tablet {
    display: flex;
    gap: 30px;
  }
}
.hero-take-order-title {
  margin-bottom: 16px;
  @include desktop {
    margin-bottom: 24px;
  }
}
.hero-take-order__picture {
  background-image: url(/src/images/bitmap/order/mobile/order-img.jpg);
  background-repeat: no-repeat;
  min-width: 280px;
  height: 171px;
  border-radius: 15px;
  margin-bottom: 16px;
  background-position: center;
  background-size: contain;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/src/images/bitmap/order/mobile/order-img@2x.jpg);
  }
  @include tablet {
    background-image: url(/src/images/bitmap/order/tablet/order-img.jpg);
    width: 336px;
    height: 158px;

    margin-bottom: 0;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/bitmap/order/tablet/order-img@2x.jpg);
    }
  }
  @include desktop {
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/order-img.jpg);
    min-width: 555px;
    height: 400px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/bitmap/order/desktop/mozjpeg/order-img@2x.jpg);
    }
  }
}

.hero-take-order__text-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include tablet {
    margin-top: 18px;

    gap: 0px;
  }
  @include desktop {
    margin-top: 0;
    gap: 24px;
  }
}
.hero-take-order__text-item {
  width: 280px;
  // height: 60px;

  @include tablet {
    width: 336px;
    // height: 60px;
  }
  @include desktop {
    width: 672px;
    // height: 46px;
    &:last-child {
      margin-bottom: 60px;
    }
  }
}
.hero-take-order__text {
  @include font(300, 16px, 1.25, $color);

  @include desktop {
    @include font(300, 18px, 1.27, $color);
  }
}

.hero-take-order__list {
  display: none;

  @include desktop {
    display: flex;
    gap: 32px;
  }
}
.hero-take-order__item-one {
  width: 203px;
  height: 203px;
  background-image: url(/src/images/bitmap/order/desktop/mozjpeg/order-img-1.jpg);
  border-top-right-radius: 72px;
  border-bottom-left-radius: 72px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  background-size: contain;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/order-img-1@2x.jpg);
  }
}
.hero-take-order__item-two {
  width: 203px;
  height: 203px;
  background-image: url(/src/images/bitmap/order/desktop/mozjpeg/order-img-2.jpg);
  border-bottom-right-radius: 72px;
  border-top-left-radius: 72px;
  background-size: contain;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/order-img-2@2x.jpg);
  }
}
.hero-take-order__item-three {
  width: 203px;
  height: 203px;
  background-image: url(/src/images/bitmap/order/desktop/mozjpeg/order-img-3.jpg);
  border-bottom-right-radius: 72px;
  background-size: contain;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/order-img-3@2x.jpg);
  }
}

// take-order-contacts
.take-order-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    display: block;
  }
}
.take-order-contacts {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 60px;
  margin-right: 70px;

  @include tablet {
    flex-direction: row;
    margin-right: 0;
  }
  @include desktop {
    text-align: end;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    gap: 30px;
    padding-bottom: 90px;
  }
}
.take-order-contacts-inner {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.take-order-contacts-inner__time {
  @include tablet {
    margin-left: auto;
    text-align: end;
  }
  @include desktop {
    margin-left: 0;
  }
}
.take-order-contacts__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.take-order-contacts__link {
  @include font(400, 16px, $lh, $color);

  @include desktop {
    @include font(400, 18px, 1.1, $color);
  }
}

.take-order-contacts-time__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.take-order-contacts-time__item {
  @include font(400, 16px, 1.1, $color);

  @include desktop {
    display: flex;
    justify-content: end;
    @include font(400, 18px, $lh, $color);
  }
}
.mosaics {
  display: none;
  @include desktop {
    display: flex;
    justify-content: end;
    margin-top: 60px;
  }
}
.mosaics__list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 529px;
  height: 293px;
  gap: 10px;
}
.mosaics__figure1 {
  width: 150px;
  height: 145px;
  background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img.jpg);
  border-top-right-radius: 72px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 290%;
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img@2x.jpg);
  }
}
.mosaics__figure2 {
  width: 150px;
  height: 145px;
  background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img.jpg);
  background-position: top;
  border-bottom-left-radius: 72px;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-size: 290%;
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img@2x.jpg);
  }
}
.mosaics__figure3 {
  width: 150px;
  height: 145px;
  background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img.jpg);
  background-position: top right;
  border-top-left-radius: 72px;
  border-bottom-right-radius: 72px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-size: 290%;
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img@2x.jpg);
  }
}
.mosaics__figure4 {
  width: 150px;
  height: 145px;
  background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img.jpg);
  background-position: bottom left;
  border-bottom-left-radius: 72px;
  border-top-right-radius: 72px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-size: 290%;
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img@2x.jpg);
  }
}
.mosaics__figure5 {
  width: 150px;
  height: 145px;
  background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img.jpg);
  background-position: bottom;
  border-radius: 72px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-size: 290%;
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img@2x.jpg);
  }
}
.mosaics__figure6 {
  width: 150px;
  height: 145px;
  background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img.jpg);
  background-position: bottom right;
  border-bottom-right-radius: 72px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-size: 290%;
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img@2x.jpg);
  }
}
//*---Форма---*//
.order-container {
  display: block;
  @include desktop {
    display: flex;
  }
}
.order-subtitle {
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    text-align: center;
  }
}

.order-form {
  padding-top: 40px;
  @include desktop {
    padding-top: 100px;
  }
}

.order-form_container {
  position: relative;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 44px;
  }
  &:nth-child(-n + 2) {
    padding-top: 28px;
  }
  &:first-child {
    margin-bottom: 16px;
  }
  &:last-of-type label {
    display: block;
    margin-bottom: 4px;
  }
}

.order-form_label {
  position: relative;

  & .order-form_name,
  & .order-form_email {
    position: absolute;
    bottom: 4px;
    left: 0;

    font-size: 16px;
    line-height: 1.25;

    text-transform: capitalize;

    color: $mainTextColor;
  }
}

.order-form_name,
.order-form_email {
  transition: transform 250ms linear;
}

.order-form_input {
  width: 100%;
  height: 20px;

  border: transparent;
  border-bottom: $inputBorder;

  &:focus {
    outline: none;
  }

  &:focus + .order-form_name,
  &:not(:placeholder-shown) + .order-form_name {
    transform: translateY(-20px);
  }

  &:focus + .order-form_email,
  &:not(:placeholder-shown) + .order-form_email {
    transform: translateY(-20px);
  }
}

.order-form_container-select::before,
.order-form_container-select::after {
  content: '';
  display: block;

  position: absolute;
  top: 3px;
  right: 0;

  width: 19px;
  height: 13px;

  pointer-events: none;
}

.order-form_container-select::before {
  background-image: url(../images/icon-down.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.order-form_container-select::after {
  display: none;
  background-image: url(../images/icon-up.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.order-form_select {
  display: block;
  width: 100%;
  height: 24px;

  border: transparent;
  border-bottom: $inputBorder;

  cursor: pointer;

  -webkit-appearance: none;
  appearance: none;

  &:focus {
    outline: none;
  }
  &:focus + .order-form_container-select::after {
    display: block;
  }
  &:focus + .order-form_container-select::before {
    display: none;
  }
}

.order-form_message {
  display: block;
  margin-bottom: 4px;
}

.order-form_textarea {
  width: 100%;
  height: 199px;
  padding-top: 22px;
  padding-left: 20px;

  border: $inputBorder;
  border-radius: 50px 0px;

  resize: none;
  outline: none;

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    color: $inputTextColor;
  }
}

.order-form_container-messege {
  position: absolute;
  bottom: 66px;
  right: 21px;
  width: 23px;
  height: 20px;

  cursor: pointer;

  opacity: 0;
  overflow: hidden;

  & input {
    width: inherit;
    height: inherit;
  }
}

.order-form_svg {
  position: absolute;
  top: 185px;
  right: 27px;
  z-index: 1;
  cursor: pointer;
}

.order-form_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  color: $inputTextColor;

  margin-bottom: 40px;
}

.order-form_btn {
  @include btn;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  width: 175px;
  margin-bottom: 60px;
  border: none;
  @media screen and (max-width: 767px) {
    width: 100%;
    justify-content: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    margin-right: 174px;
  }
}

.take-order__form {
  @media screen and (max-width: 1439px) {
    max-width: 400px;
    margin: 0 auto;
  }
}

//*---Форма---*//
