<section class="gallery main-section" id="gallery">
  <div class="gallery__container container">
    <h2 class="gallery__title">Галерея</h2>
    <ul class="gallery__list">
      <li class="gallery__item">
        <picture>
          <source
            type="image/webp"
            media="(max-width: 767px)"
            sizes="(min-width: 280px) 280px"
            srcset="
              ./images/bitmap/main/mobile/gallery/gallery-webp/gallary-img-1.webp    280w,
              ./images/bitmap/main/mobile/gallery/gallery-webp/gallary-img-1@2x.webp 560w
            "
          />

          <source
            type="image/webp"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 336px) 336px"
            srcset="
              ./images/bitmap/main/tablet/gallery/gallery-webp/gallary-img-1.webp    336w,
              ./images/bitmap/main/tablet/gallery/gallery-webp/gallary-img-1@2x.webp 672w
            "
          />

          <source
            type="image/webp"
            media="(min-width: 1440px)"
            sizes="(min-width: 555px) 555px"
            srcset="
              ./images/bitmap/main/desktop/gallery/gallery-webp/gallary-img-1.webp     555w,
              ./images/bitmap/main/desktop/gallery/gallery-webp/gallary-img-1@2x.webp 1110w
            "
          />

          <source
            type="image/jpeg"
            media="(max-width: 767px)"
            sizes="(min-width: 280px) 280px"
            srcset="
              ./images/bitmap/main/mobile/gallery/gallery-mozjpeg/gallary-img-1.jpg    280w,
              ./images/bitmap/main/mobile/gallery/gallery-mozjpeg/gallary-img-1@2x.jpg 560w
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 336px) 336px, 15vw"
            srcset="
              ./images/bitmap/main/tablet/gallery/gallery-mozjpeg/gallary-img-1.jpg    336w,
              ./images/bitmap/main/tablet/gallery/gallery-mozjpeg/gallary-img-1@2x.jpg 672w
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 1440px)"
            sizes="(min-width: 555px) 555px"
            srcset="
              ./images/bitmap/main/desktop/gallery/gallery-mozjpeg/gallary-img-1.jpg     555w,
              ./images/bitmap/main/desktop/gallery/gallery-mozjpeg/gallary-img-1@2x.jpg 1110w
            "
          />

          <img
            src="./images/bitmap/main/desktop/gallery/gallery-mozjpeg/gallary-img-1.jpg"
            alt="Аналіз деталі"
          />
        </picture>
        <h3 class="gallery__description">
          Інженерні методи аналізу та контролю якості
        </h3>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            type="image/webp"
            media="(max-width: 767px)"
            sizes="(min-width: 280px) 280px"
            srcset="
              ./images/bitmap/main/mobile/gallery/gallery-webp/gallary-img-2.webp    280w,
              ./images/bitmap/main/mobile/gallery/gallery-webp/gallary-img-2@2x.webp 560w
            "
          />

          <source
            type="image/webp"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 336px) 336px"
            srcset="
              ./images/bitmap/main/tablet/gallery/gallery-webp/gallary-img-2.webp    336w,
              ./images/bitmap/main/tablet/gallery/gallery-webp/gallary-img-2@2x.webp 672w
            "
          />

          <source
            type="image/webp"
            media="(min-width: 1440px)"
            sizes="(min-width: 555px) 555px"
            srcset="
              ./images/bitmap/main/desktop/gallery/gallery-webp/gallary-img-2.webp     555w,
              ./images/bitmap/main/desktop/gallery/gallery-webp/gallary-img-2@2x.webp 1110w
            "
          />

          <source
            type="image/jpeg"
            media="(max-width: 767px)"
            sizes="(min-width: 280px) 280px"
            srcset="
              ./images/bitmap/main/mobile/gallery/gallery-mozjpeg/gallary-img-2.jpg    280w,
              ./images/bitmap/main/mobile/gallery/gallery-mozjpeg/gallary-img-2@2x.jpg 560w
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 336px) 336px, 15vw"
            srcset="
              ./images/bitmap/main/tablet/gallery/gallery-mozjpeg/gallary-img-2.jpg    336w,
              ./images/bitmap/main/tablet/gallery/gallery-mozjpeg/gallary-img-2@2x.jpg 672w
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 1440px)"
            sizes="(min-width: 555px) 555px"
            srcset="
              ./images/bitmap/main/desktop/gallery/gallery-mozjpeg/gallary-img-2.jpg     555w,
              ./images/bitmap/main/desktop/gallery/gallery-mozjpeg/gallary-img-2@2x.jpg 1110w
            "
          />

          <img
            src="./images/bitmap/main/desktop/gallery/gallery-mozjpeg/gallary-img-2.jpg"
            alt="Сканування моделі машини"
          />
        </picture>
        <h3 class="gallery__description">Високоточне 3D сканування</h3>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            type="image/webp"
            media="(max-width: 767px)"
            sizes="(min-width: 280px) 280px"
            srcset="
              ./images/bitmap/main/mobile/gallery/gallery-webp/gallary-img-3.webp    280w,
              ./images/bitmap/main/mobile/gallery/gallery-webp/gallary-img-3@2x.webp 560w
            "
          />

          <source
            type="image/webp"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 336px) 336px"
            srcset="
              ./images/bitmap/main/tablet/gallery/gallery-webp/gallary-img-3.webp    336w,
              ./images/bitmap/main/tablet/gallery/gallery-webp/gallary-img-3@2x.webp 672w
            "
          />

          <source
            type="image/webp"
            media="(min-width: 1440px)"
            sizes="(min-width: 555px) 555px"
            srcset="
              ./images/bitmap/main/desktop/gallery/gallery-webp/gallary-img-3.webp     555w,
              ./images/bitmap/main/desktop/gallery/gallery-webp/gallary-img-3@2x.webp 1110w
            "
          />

          <source
            type="image/jpeg"
            media="(max-width: 767px)"
            sizes="(min-width: 280px) 280px"
            srcset="
              ./images/bitmap/main/mobile/gallery/gallery-mozjpeg/gallary-img-3.jpg    280w,
              ./images/bitmap/main/mobile/gallery/gallery-mozjpeg/gallary-img-3@2x.jpg 560w
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 336px) 336px, 15vw"
            srcset="
              ./images/bitmap/main/tablet/gallery/gallery-mozjpeg/gallary-img-3.jpg    336w,
              ./images/bitmap/main/tablet/gallery/gallery-mozjpeg/gallary-img-3@2x.jpg 672w
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 1440px)"
            sizes="(min-width: 555px) 555px"
            srcset="
              ./images/bitmap/main/desktop/gallery/gallery-mozjpeg/gallary-img-3.jpg     555w,
              ./images/bitmap/main/desktop/gallery/gallery-mozjpeg/gallary-img-3@2x.jpg 1110w
            "
          />

          <img
            src="./images/bitmap/main/desktop/gallery/gallery-mozjpeg/gallary-img-3.jpg"
            alt="Копіювання деталі"
          />
        </picture>
        <h3 class="gallery__description">
          Створення точної копії на базі сканування reverse engineering
        </h3>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            type="image/webp"
            media="(max-width: 767px)"
            sizes="(min-width: 280px) 280px"
            srcset="
              ./images/bitmap/main/mobile/gallery/gallery-webp/gallary-img-4.webp    280w,
              ./images/bitmap/main/mobile/gallery/gallery-webp/gallary-img-4@2x.webp 560w
            "
          />

          <source
            type="image/webp"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 336px) 336px"
            srcset="
              ./images/bitmap/main/tablet/gallery/gallery-webp/gallary-img-4.webp    336w,
              ./images/bitmap/main/tablet/gallery/gallery-webp/gallary-img-4@2x.webp 672w
            "
          />

          <source
            type="image/webp"
            media="(min-width: 1440px)"
            sizes="(min-width: 555px) 555px"
            srcset="
              ./images/bitmap/main/desktop/gallery/gallery-webp/gallary-img-4.webp     555w,
              ./images/bitmap/main/desktop/gallery/gallery-webp/gallary-img-4@2x.webp 1110w
            "
          />

          <source
            type="image/jpeg"
            media="(max-width: 767px)"
            sizes="(min-width: 280px) 280px"
            srcset="
              ./images/bitmap/main/mobile/gallery/gallery-mozjpeg/gallary-img-4.jpg    280w,
              ./images/bitmap/main/mobile/gallery/gallery-mozjpeg/gallary-img-4@2x.jpg 560w
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 336px) 336px, 15vw"
            srcset="
              ./images/bitmap/main/tablet/gallery/gallery-mozjpeg/gallary-img-4.jpg    336w,
              ./images/bitmap/main/tablet/gallery/gallery-mozjpeg/gallary-img-4@2x.jpg 672w
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 1440px)"
            sizes="(min-width: 555px) 555px"
            srcset="
              ./images/bitmap/main/desktop/gallery/gallery-mozjpeg/gallary-img-4.jpg     555w,
              ./images/bitmap/main/desktop/gallery/gallery-mozjpeg/gallary-img-4@2x.jpg 1110w
            "
          />

          <img
            src="./images/bitmap/main/desktop/gallery/gallery-mozjpeg/gallary-img-4.jpg"
            alt="Проектування"
          />
        </picture>
        <h3 class="gallery__description">
          Всі цикли 3D проектування, створення фотореалістичних цифрових моделей
        </h3>
      </li>
    </ul>
  </div>
</section>
