<section class="photos main-section" id="photos">
  <div class="container photos__container">
    <h2 class="photos__title">БІЛЬШЕ ФОТО</h2>
    <ul class="photos__list">
      <li class="photos__item">
        <a href="#img1" class="photos__link">
          <picture class="photo">
            <source
              srcset="
                ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-1.webp    1x,
                ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-1@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-1.jpg    1x,
                ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-1@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-1.webp    1x,
                ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-1@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-1.jpg    1x,
                ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-1@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-1.webp    1x,
                ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-1@2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-1.jpg    1x,
                ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-1@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-1.jpg"
              alt="Приклад робіт"
            />
          </picture>
        </a>
        <div id="img1" class="overlay">
          <a href="#photos" class="close"></a>
          <div class="overlay__img-wrap">
            <span class="arrow-wrap arrow-left">
              <a href="#img12" class="arrow-scroll">
                <svg class="overlay__icon" width="42" height="42">
                  <use href="./images/sprite.svg#icon-gallery-arrow-left"></use>
                </svg>
              </a>
            </span>
            <img
              class="full-img"
              src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-1@2x.jpg"
              alt="Приклад робіт"
            />
            <span class="arrow-wrap arrow-right">
              <a href="#img2" class="arrow-scroll">
                <svg class="overlay__icon" width="42" height="42">
                  <use
                    href="./images/sprite.svg#icon-gallery-arrow-right"
                  ></use>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </li>
      <li class="photos__item">
        <a href="#img2" class="photos__link">
          <picture class="photo">
            <source
              srcset="
                ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-2.webp    1x,
                ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-2@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-2.jpg    1x,
                ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-2@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-2.webp    1x,
                ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-2@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-2.jpg    1x,
                ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-2@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-2.webp    1x,
                ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-2@2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-2.jpg    1x,
                ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-2@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-2.jpg"
              alt="Приклад робіт"
            />
          </picture>
        </a>
        <div id="img2" class="overlay">
          <a href="#photos" class="close"></a>
          <div class="overlay__img-wrap">
            <span class="arrow-wrap arrow-left">
              <a href="#img1" class="arrow-scroll">
                <svg class="overlay__icon" width="42" height="42">
                  <use href="./images/sprite.svg#icon-gallery-arrow-left"></use>
                </svg>
              </a>
            </span>
            <img
              class="full-img"
              src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-2@2x.jpg"
              alt=""
            />
            <span class="arrow-wrap arrow-right">
              <a href="#img3" class="arrow-scroll">
                <svg class="overlay__icon" width="42" height="42">
                  <use
                    href="./images/sprite.svg#icon-gallery-arrow-right"
                  ></use>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </li>
      <li class="photos__item">
        <a href="#img3" class="photos__link">
          <picture class="photo">
            <source
              srcset="
                ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-3.webp    1x,
                ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-3@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-3.jpg    1x,
                ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-3@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-3.webp    1x,
                ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-3@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-3.jpg    1x,
                ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-3@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-3.webp    1x,
                ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-3@2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-3.jpg    1x,
                ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-3@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-3.jpg"
              alt="Приклад робіт"
            />
          </picture>
        </a>
        <div id="img3" class="overlay">
          <a href="#photos" class="close"></a>
          <div class="overlay__img-wrap">
            <span class="arrow-wrap arrow-left">
              <a href="#img2" class="arrow-scroll">
                <svg class="overlay__icon" width="42" height="42">
                  <use href="./images/sprite.svg#icon-gallery-arrow-left"></use>
                </svg>
              </a>
            </span>
            <img
              class="full-img"
              src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-3@2x.jpg"
              alt=""
            />
            <span class="arrow-wrap arrow-right">
              <a href="#img4" class="arrow-scroll">
                <svg class="overlay__icon" width="42" height="42">
                  <use
                    href="./images/sprite.svg#icon-gallery-arrow-right"
                  ></use>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </li>
      <li class="photos__item">
        <a href="#img4" class="photos__link">
          <picture class="photo">
            <source
              srcset="
                ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-4.webp    1x,
                ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-4@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-4.jpg    1x,
                ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-4@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-4.webp    1x,
                ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-4@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-4.jpg    1x,
                ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-4@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-4.webp    1x,
                ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-4@2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-4.jpg    1x,
                ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-4@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-4.jpg"
              alt="Приклад робіт"
            />
          </picture>
        </a>
        <div id="img4" class="overlay">
          <a href="#photos" class="close"></a>
          <div class="overlay__img-wrap">
            <span class="arrow-wrap arrow-left">
              <a href="#img3" class="arrow-scroll">
                <svg class="overlay__icon" width="42" height="42">
                  <use href="./images/sprite.svg#icon-gallery-arrow-left"></use>
                </svg>
              </a>
            </span>
            <img
              class="full-img"
              src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-4@2x.jpg"
              alt=""
            />
            <span class="arrow-wrap arrow-right">
              <a href="#img5" class="arrow-scroll">
                <svg class="overlay__icon" width="42" height="42">
                  <use
                    href="./images/sprite.svg#icon-gallery-arrow-right"
                  ></use>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </li>
      <li class="photos__item">
        <a href="#img5" class="photos__link">
          <picture class="photo">
            <source
              srcset="
                ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-5.webp    1x,
                ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-5@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-5.jpg    1x,
                ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-5@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-5.webp    1x,
                ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-5@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-5.jpg    1x,
                ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-5@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-5.webp    1x,
                ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-5@2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-5.jpg    1x,
                ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-5@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-5.jpg"
              alt="Приклад робіт"
            />
          </picture>
        </a>
        <div id="img5" class="overlay">
          <a href="#photos" class="close"></a>
          <div class="overlay__img-wrap">
            <span class="arrow-wrap arrow-left">
              <a href="#img4" class="arrow-scroll">
                <svg class="overlay__icon" width="42" height="42">
                  <use href="./images/sprite.svg#icon-gallery-arrow-left"></use>
                </svg>
              </a>
            </span>
            <img
              class="full-img"
              src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-5@2x.jpg"
              alt=""
            />
            <span class="arrow-wrap arrow-right">
              <a href="#img6" class="arrow-scroll">
                <svg class="overlay__icon" width="42" height="42">
                  <use
                    href="./images/sprite.svg#icon-gallery-arrow-right"
                  ></use>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </li>
      <li class="photos__item">
        <a href="#img6" class="photos__link">
          <picture class="photo">
            <source
              srcset="
                ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-6.webp    1x,
                ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-6@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-6.jpg    1x,
                ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-6@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-6.webp    1x,
                ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-6@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-6.jpg    1x,
                ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-6@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-6.webp    1x,
                ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-6@2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-6.jpg    1x,
                ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-6@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-6.jpg"
              alt="Приклад робіт"
            />
          </picture>
        </a>
        <div id="img6" class="overlay">
          <a href="#photos" class="close"></a>
          <div class="overlay__img-wrap">
            <span class="arrow-wrap arrow-left">
              <a href="#img5" class="arrow-scroll">
                <svg class="overlay__icon" width="42" height="42">
                  <use href="./images/sprite.svg#icon-gallery-arrow-left"></use>
                </svg>
              </a>
            </span>
            <img
              class="full-img"
              src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-6@2x.jpg"
              alt=""
            />
            <span class="arrow-wrap arrow-right">
              <a href="#img7" class="arrow-scroll">
                <svg class="overlay__icon" width="42" height="42">
                  <use
                    href="./images/sprite.svg#icon-gallery-arrow-right"
                  ></use>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </li>
      <li class="photos__item">
        <a href="#img7" class="photos__link">
          <picture class="photo">
            <source
              srcset="
                ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-7.webp    1x,
                ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-7@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-7.jpg    1x,
                ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-7@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-7.webp    1x,
                ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-7@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-7.jpg    1x,
                ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-7@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-7.webp    1x,
                ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-7@2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-7.jpg    1x,
                ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-7@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-7.jpg"
              alt="Приклад робіт"
            />
          </picture>
        </a>
        <div id="img7" class="overlay">
          <a href="#photos" class="close"></a>
          <div class="overlay__img-wrap">
            <span class="arrow-wrap arrow-left">
              <a href="#img6" class="arrow-scroll">
                <svg class="overlay__icon" width="42" height="42">
                  <use href="./images/sprite.svg#icon-gallery-arrow-left"></use>
                </svg>
              </a>
            </span>
            <img
              class="full-img"
              src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-7@2x.jpg"
              alt=""
            />
            <span class="arrow-wrap arrow-right">
              <a href="#img8" class="arrow-scroll">
                <svg class="overlay__icon" width="42" height="42">
                  <use
                    href="./images/sprite.svg#icon-gallery-arrow-right"
                  ></use>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </li>
      <li class="photos__item">
        <a href="#img8" class="photos__link">
          <picture class="photo">
            <source
              srcset="
                ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-8.webp    1x,
                ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-8@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-8.jpg    1x,
                ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-8@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-8.webp    1x,
                ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-8@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-8.jpg    1x,
                ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-8@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-8.webp    1x,
                ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-8@2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-8.jpg    1x,
                ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-8@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-8.jpg"
              alt="Приклад робіт"
            />
          </picture>
        </a>
        <div id="img8" class="overlay">
          <a href="#photos" class="close"></a>
          <div class="overlay__img-wrap">
            <span class="arrow-wrap arrow-left">
              <a href="#img7" class="arrow-scroll">
                <svg class="overlay__icon" width="42" height="42">
                  <use href="./images/sprite.svg#icon-gallery-arrow-left"></use>
                </svg>
              </a>
            </span>
            <img
              class="full-img"
              src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-8@2x.jpg"
              alt=""
            />
            <span class="arrow-wrap arrow-right">
              <a href="#img9" class="arrow-scroll">
                <svg class="overlay__icon" width="42" height="42">
                  <use
                    href="./images/sprite.svg#icon-gallery-arrow-right"
                  ></use>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </li>
      <li class="photos__item">
        <a href="#img9" class="photos__link">
          <picture class="photo">
            <source
              srcset="
                ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-9.webp    1x,
                ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-9@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-9.jpg    1x,
                ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-9@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-9.webp    1x,
                ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-9@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-9.jpg    1x,
                ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-9@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-9.webp    1x,
                ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-9@2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-9.jpg    1x,
                ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-9@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-9.jpg"
              alt="Приклад робіт"
            />
          </picture>
        </a>
        <div id="img9" class="overlay">
          <a href="#photos" class="close"></a>
          <div class="overlay__img-wrap">
            <span class="arrow-wrap arrow-left">
              <a href="#img8" class="arrow-scroll">
                <svg class="overlay__icon" width="42" height="42">
                  <use href="./images/sprite.svg#icon-gallery-arrow-left"></use>
                </svg>
              </a>
            </span>
            <img
              class="full-img"
              src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-9@2x.jpg"
              alt=""
            />
            <span class="arrow-wrap arrow-right">
              <a href="#img10" class="arrow-scroll">
                <svg class="overlay__icon" width="42" height="42">
                  <use
                    href="./images/sprite.svg#icon-gallery-arrow-right"
                  ></use>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </li>
      <li class="photos__item">
        <a href="#img10" class="photos__link">
          <picture class="photo">
            <source
              srcset="
                ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-10.webp    1x,
                ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-10@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-10.jpg    1x,
                ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-10@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-10.webp    1x,
                ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-10@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-10.jpg    1x,
                ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-10@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-10.webp    1x,
                ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-10@2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-10.jpg    1x,
                ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-10@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-10.jpg"
              alt="Приклад робіт"
            />
          </picture>
        </a>
        <div id="img10" class="overlay">
          <a href="#photos" class="close"></a>
          <div class="overlay__img-wrap">
            <span class="arrow-wrap arrow-left">
              <a href="#img9" class="arrow-scroll">
                <svg class="overlay__icon" width="42" height="42">
                  <use href="./images/sprite.svg#icon-gallery-arrow-left"></use>
                </svg>
              </a>
            </span>
            <img
              class="full-img"
              src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-10@2x.jpg"
              alt=""
            />
            <span class="arrow-wrap arrow-right">
              <a href="#img11" class="arrow-scroll">
                <svg class="overlay__icon" width="42" height="42">
                  <use
                    href="./images/sprite.svg#icon-gallery-arrow-right"
                  ></use>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </li>
      <li class="photos__item">
        <a href="#img11" class="photos__link">
          <picture class="photo">
            <source
              srcset="
                ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-11.webp    1x,
                ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-11@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-11.jpg    1x,
                ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-11@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-11.webp    1x,
                ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-11@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-11.jpg    1x,
                ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-11@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-11.webp    1x,
                ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-11@2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-11.jpg    1x,
                ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-11@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-11.jpg"
              alt="Приклад робіт"
            />
          </picture>
        </a>
        <div id="img11" class="overlay">
          <a href="#photos" class="close"></a>
          <div class="overlay__img-wrap">
            <span class="arrow-wrap arrow-left">
              <a href="#img10" class="arrow-scroll">
                <svg class="overlay__icon" width="42" height="42">
                  <use href="./images/sprite.svg#icon-gallery-arrow-left"></use>
                </svg>
              </a>
            </span>
            <img
              class="full-img"
              src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-11@2x.jpg"
              alt=""
            />
            <span class="arrow-wrap arrow-right">
              <a href="#img12" class="arrow-scroll">
                <svg class="overlay__icon" width="42" height="42">
                  <use
                    href="./images/sprite.svg#icon-gallery-arrow-right"
                  ></use>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </li>
      <li class="photos__item">
        <a href="#img12" class="photos__link">
          <picture class="photo">
            <source
              srcset="
                ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-12.webp    1x,
                ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-12@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-12.jpg    1x,
                ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-12@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-12.webp    1x,
                ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-12@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-12.jpg    1x,
                ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-12@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-12.webp    1x,
                ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-12@2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-12.jpg    1x,
                ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-12@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-12.jpg"
              alt="Приклад робіт"
            />
          </picture>
        </a>
        <div id="img12" class="overlay">
          <a href="#photos" class="close"></a>
          <div class="overlay__img-wrap">
            <span class="arrow-wrap arrow-left">
              <a href="#img11" class="arrow-scroll">
                <svg class="overlay__icon" width="11" height="12">
                  <use href="./images/sprite.svg#icon-gallery-arrow-left"></use>
                </svg>
              </a>
            </span>
            <img
              class="full-img"
              src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-12@2x.jpg"
              alt=""
            />
            <span class="arrow-wrap arrow-right">
              <a href="#img1" class="arrow-scroll">
                <svg class="overlay__icon" width="11" height="12">
                  <use
                    href="./images/sprite.svg#icon-gallery-arrow-right"
                  ></use>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </li>
    </ul>
    <div class="loading">
      <div class="loading__container">
        <div class="loading_element element_01"></div>
        <div class="loading_element element_02"></div>
        <div class="loading_element element_03"></div>
        <div class="loading_element element_04"></div>
        <div class="loading_element element_05"></div>
        <div class="loading_element element_06"></div>
        <div class="loading_element element_07"></div>
        <div class="loading_element element_08"></div>
      </div>
    </div>
  </div>
</section>
