<section class="scann">
  <div class="photo-container container">
    <h2 class="scann__title">ПРОЦЕС 3D СКАНУВАННЯ</h2>
    <ul class="scann__list">
      <li class="scann__item scann__item-1">
        <h3 class="scann__text">
          Підготовка деталі <br />
          до сканування
        </h3>
      </li>
      <li class="scann__item scann__item-2">
        <h3 class="scann__text">
          Створення сканів <br />
          і їх обробка
        </h3>
      </li>
      <li class="scann__item scann__item-3">
        <h3 class="scann__text">
          Перетворення <span lang="en">reverse engineering</span>
        </h3>
      </li>
      <li class="scann__item scann__item-4">
        <h3 class="scann__text">
          Підготовка моделі <br />
          до друку
        </h3>
      </li>
    </ul>
    <a class="button scann__btn" href="./take-order.html">ЗРОБИТИ ЗАМОВЛЕННЯ</a>
  </div>
</section>
